@import url('https://fonts.googleapis.com/css2? familia= Roboto:peso@400;700 & display=swap');

* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;

}
body{
    width: 1024px;
}

.nav-top{
    font-size: 10px; 
    height: 20px;
    color: #f3f3f3;
    background-color: #222222;
    display: flex;
    justify-content: space-between;
    padding-left: 90px;
    padding-right: 50px;
    align-items: center;
}
.nav-top-lista{
    display: flex;
    list-style: none;    
}
.nav-top2{
    display: flex;
    background-color: #f0a83e;
    height: 62px;
    color: #ffffff;
    justify-content: space-between;
    padding: 0 40px 0 40px;
    align-items: center;
   
}
.nav-lista-horizontal{
    display: flex;
    list-style: none;
    justify-content: space-around;
    flex-grow: 0.2;
}
.imagen-fondo{    
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 409px;
    background-image: url(../img/bowl-and-pet-daities-on-green-background\ 1.png);
  
}
.texto.main1{
    display: flex;    
}
h2{
    display: flex;
    margin: 12px; 
    justify-content: center;
    align-items: center;
    height: 54px;
    width: 365px;
    background-color: #ffffff;
    color: #3c2313;
    border-radius: 5px;
}
.texto2{
    display: flex;
    font-size: 16px;
    height: 19px;
    width: 190px;
    margin-left: 95px;
}
.boton1{
    background-color: #f0a83e;
    width: 141px;
    height: 49px;
    font-size: 16px;
    color: #ffffff;
    margin-left: 117px;
    border-radius: 5px;
    border: none;
    margin-top: 12px;
}
.segundaseccion{
text-align: center;
}
h1{
    font-size: 40px;
    color:rgba(60, 35, 19, 1) ;
}
h5{
    font-weight: lighter;
    font-size: 15px;
    color: rgba(102, 102, 102, 1);
}
.separacion{
   margin: 10px;
}
#patita{
    text-align: center;
    height: 71px;
}
.terceraSeccion{
    display: flex;
    justify-content:space-around;
    margin-top: 49px ;
    flex-wrap: wrap;
}
.container{
    display: flex;
    align-items: stretch;
    margin-right: 20px;
    width: 1617px;
    justify-content: space-evenly;
}
article{
    justify-content: space-around;
}
.centrado {
    display: flex;
    width: 270px;
    height:43px;
background-color: #FBFAF6;
font-size: 17px;
color:rgba(60, 35, 19, 1) ;
margin-left: 5px;
flex-direction: column;
justify-content: center;
}
#churrasco{
    text-indent: 0px;
}

