@import url('https://fonts.googleapis.com/css2? familia= Roboto:peso@400;700 & display=swap');

* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;

}
body{
    width: 1024px;
}

.nav-top{
    font-size: 10px; 
    height: 20px;
    color: #f3f3f3;
    background-color: #222222;
    display: flex;
    justify-content: space-between;
    padding-left: 90px;
    padding-right: 50px;
    align-items: center;
}
.nav-top-lista{
    display: flex;
    list-style: none;    
}
.nav-top2{
    display: flex;
    background-color: #f0a83e;
    height: 62px;
    color: #ffffff;
    justify-content: space-between;
    padding: 0 40px 0 40px;
    align-items: center;
   
}
.nav-lista-horizontal{
    display: flex;
    list-style: none;
    justify-content: space-around;
    flex-grow: 0.2;
}
.imagen-fondo{    
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 409px;
    background-image: url(../img/bowl-and-pet-daities-on-green-background\ 1.png);
  
}
.texto.main1{
    display: flex;    
}
h2{
    display: flex;
    margin: 12px; 
    justify-content: center;
    align-items: center;
    height: 54px;
    width: 365px;
    background-color: #ffffff;
    color: #3c2313;
    border-radius: 5px;
}
.texto2{
    display: flex;
    font-size: 16px;
    height: 19px;
    width: 190px;
    margin-left: 95px;
}
.boton1{
    background-color: #f0a83e;
    width: 141px;
    height: 49px;
    font-size: 16px;
    color: #ffffff;
    margin-left: 117px;
    border-radius: 5px;
    border: none;
    margin-top: 12px;
}
.segundaseccion{
text-align: center;
}
h1{
    font-size: 40px;
    color:rgba(60, 35, 19, 1) ;
}
h5{
    font-weight: lighter;
    font-size: 15px;
    color: rgba(102, 102, 102, 1);
}
.separacion{
   margin: 10px;
}
#patita{
    text-align: center;
    height: 71px;
}
.terceraSeccion{
    display: flex;
    justify-content:space-around;
    margin-top: 49px ;
    flex-wrap: wrap;
}
.container{
    display: flex;
    align-items: stretch;
    margin-right: 20px;
    width: 1617px;
    justify-content: space-evenly;
}
article{
    justify-content: space-around;
    background-color: rgba(251, 250, 246, 1);
}

.centrado{
    text-align: center;
    color: rgba(60, 35, 19, 1);
    font-size: 15px;
    font-weight: bold;
}

    #amarillo{
        color: rgba(240, 168, 62, 1);
    }
.cuartaSeccion{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    }
 .suscripcion{
    background-color: rgba(60, 35, 19, 1);
    border-radius: 15px;
    width: 340px;
    height: 40px;
    color: rgba(255, 255, 255, 1);
    font-size: 9px;
    margin: 10px;
    padding: 15px
    box-sizing: border-box;
    
    }

.boton{
   
    width: 110px;
    height: 34px;
    font-size: 16px;
    color:rgba(255, 255, 255, 1) ;
    margin-left: 117px;
    border-radius: 15px;
    border: none;
    margin-top: 12px;
    background-color: rgba(138, 135, 135, 1) ;
}
.boton2{
    
    width: 110px;
    height: 34px;
    font-size: 16px;
    color:rgba(255, 255, 255, 1) ;
    margin-left: 117px;
    border-radius: 15px;
    border: none;
    margin-top: 12px;
    background-color: rgba(240, 168, 62, 1);
    margin-right: 110px;
    margin-left: 5px;
    margin-top: 35px;

}
footer{
    display: flex;
    flex-direction: column;
}
.barra{
    display: flex;
    background-color: rgba(240, 168, 62, 1);
     color: rgba(255, 255, 255, 1);
       margin-top: 100px;
 justify-content: space-between;
 height: 60px;
   font-size: 20px;
    font-weight: bold;
    
}
.sobre{
    display: flex;
    padding-right: 45px;
    align-items: center;
    text-indent:10px ;
 
}
.barraBusqueda{
    height: 40px;
    width: 270px;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 1);
    border: none;
}
.boton3{
    width: 70px;
    height: 34px;
    background-color: rgba(60, 35, 19, 1);
    color: rgba(255, 255, 255, 1);
    font-size: 9px;
    border-radius: 15px;   
}
.izquierda{
   margin-left: 15px;
}
.foter{
    display: flex;
    justify-content: space-between;
    background-color: rgba(60, 35, 19, 1);
    color: rgba(255, 255, 255, 1);
    font-weight: bold;
    height: 284px;
    width: auto;
}
.iconos{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}
.logo{
    width: 166px;
    height: 23px;
    margin-right: 70px;
    margin-top: 160px;
}
.items{ 
    display: flex;
    margin: 10px;
    margin-left: 70px;
  
}
.descripcion{
    display: flex;
    flex-direction: column;
    font-size: 20px;
    margin-left: 15px;
}
#negrita{
    color: rgba(138, 135, 135, 1);
    font-size: 10px;
    
}
.piso{
    background-color: rgba(34, 34, 34, 1);
    text-align: center;
    color:rgba(255, 255, 255, 1) ;
    height:20px ;
    width: auto;
     font-size: 10px;
     padding-top: 3px;
     font-weight: bold;
}